.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 50px;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
}

.title {
  font-family: 'Greycliff CF', sans-serif;
  font-weight: 900;
  color: #ffffff; /* var(--mantine-color-white)를 명시적 색상 값으로 변경 */
  line-height: 1.2;
}
