.scrollbar {
  border-radius: 4px;
  background-color: var(--mantine-color-dark-6);
}

.scrollbar:hover {
  background-color: var(--mantine-color-dark-6);
}

.scrollbar[data-orientation='vertical'] .thumb {
  background-color: var(--mantine-color-dark-9);
}

.scrollbar[data-orientation='horizontal'] .thumb {
}

.title_section {
  @media (max-width: 768px) {
    max-width: 240px;
  }
}
