.label:hover {
  color: white;
}

.header_container {
  padding: 50px;
  @media (max-width: 800px) {
    padding: 0;
    .header_logo {
      height: 20px !important;
    }
    .header_font {
      font-size: 14px !important;
    }
  }
}

.user_section {
  @media (max-width: 800px) {
    /* flex-direction: row-reverse !important;
    padding: 0px; */
  }
}
