.title_btn {
  font-size: 18px;
  cursor: pointer;

  @media (max-width: 800px) {
    font-size: 14px;
  }
}

.section_nav {
  position: absolute;
  bottom: -30px;
  right: 0px;
  padding: 0px 50px;
}
