.tr {
  cursor: pointer;
  &:hover {
    background-color: var(--mantine-color-dark-6);
  }
  &:last-of-type {
    border-bottom: calc(0.0625rem * var(--mantine-scale)) solid var(--table-border-color);
  }
}

.td {
}

.th {
  /* color: #000000; */
}
