.item {
  height: 140px;
  border-radius: 4px;

  @media screen and (max-width: 800px) {
    height: auto;
  }
}

.item img {
  border-radius: 4px;
}

.info_area {
  cursor: pointer;
}

.info_area:hover {
  color: var(--mantine-color-blue-8);
}
