.card {
  transition: transform 150ms ease;

  box-shadow: var(--mantine-shadow-sm);
  cursor: pointer;
  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
  }
}
.card.checked {
  /* transition: 150ms ease; */
  border: 1px solid #000;
}
.card img {
  cursor: pointer;
}

.title {
  font-family: 'Greycliff CF', var(--mantine-font-family);
  font-weight: bold;
}

.action {
  background-color: #fff;
  border-radius: 8px;
  transition: 0.2s;
  border: 1px solid #ddd;
}

.action .active {
  fill: red;
}

.action:hover {
  background-color: #ddd;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.action svg {
  fill: transparent;
}
