.card {
  transition: 150ms ease;

  box-shadow: var(--mantine-shadow-sm);
  cursor: pointer;
  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
  }
}
.card.checked {
  transition: 150ms ease;
  border: 1px solid #eee;
}
.card img {
  cursor: pointer;
}

.title {
  font-family: 'Greycliff CF', var(--mantine-font-family);
  font-weight: bold;
}

.action {
  border-radius: 8px;
  transition: 0.2s;
}

.action .active {
  fill: red;
}

.action:hover {
  background-color: var(--mantine-color-gray-filled-hover);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.action svg {
  fill: transparent;
}
